CompileFlags:
    Add:
        - -isystem
        - C:/Users/Familia/.espressif/tools/riscv32-esp-elf/esp-15.2.0_20251204/riscv32-esp-elf/picolibc/include
    Remove:
        - -mtune=*
        - -specs=*
        - -fno-shrink-wrap
        - -fstrict-volatile-bitfields
        - -fno-jump-tables
        - -fno-tree-switch-conversion
        - -fno-ipa-sra
        - -fno-ipa-cp
        - -fno-ipa-cp-clone
        - -fno-ipa-pta
        - -fno-ipa-icf
        - -fno-ipa-icf-version=*
        - -w
