CONFIG_ESP32LIBFUN_SERIAL=y
CONFIG_ESP32LIBFUN_AT=y
CONFIG_ESP32LIBFUN_AT_MAX_CMDS=16
CONFIG_ESP32LIBFUN_DELAY=y
CONFIG_ESP32LIBFUN_GPIO=y
CONFIG_ESP32LIBFUN_I2C=y
CONFIG_ESP32LIBFUN_WIFI_STA=y
CONFIG_ESP32LIBFUN_WEBSERVER=y
