CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP32LIBFUN_SERIAL=y
CONFIG_ESP32LIBFUN_AT=y
CONFIG_ESP32LIBFUN_AT_MAX_CMDS=16
CONFIG_ESP32LIBFUN_DELAY=y
CONFIG_ESP32LIBFUN_GPIO=y
CONFIG_ESP32LIBFUN_LEDC=y
CONFIG_ESP32LIBFUN_I2C=y
CONFIG_ESP32LIBFUN_PCNT=n
CONFIG_ESP32LIBFUN_SPI=y
CONFIG_ESP32LIBFUN_MCPWM=n
CONFIG_ESP32LIBFUN_WIFI_STA=n
CONFIG_ESP32LIBFUN_WEBSERVER=n
