CONFIG_ESP32LIBFUN_SERIAL=y
CONFIG_ESP32LIBFUN_AT=y
CONFIG_ESP32LIBFUN_DELAY=y
CONFIG_ESP32LIBFUN_GPIO=n
CONFIG_ESP32LIBFUN_I2C=n
CONFIG_ESP32LIBFUN_SPI=y
CONFIG_ESP32LIBFUN_LEDC=n
CONFIG_ESP32LIBFUN_PCNT=n
CONFIG_ESP32LIBFUN_MCPWM=n
CONFIG_ESP32LIBFUN_WIFI_STA=n
CONFIG_ESP32LIBFUN_WEBSERVER=n
CONFIG_ESP32LIBFUN_W5500=n
CONFIG_ESP32LIBFUN_LAN8720=n
